[user]
	email = thomas.tsai@wnc.com.tw
	name = Thomas Tsai
[color]
	branch = auto
	grep = auto
	diff = auto
	ui = auto
[core]
	excludsfile = /home/thomas/.gitignore_global
	excludesfile = /home/thomas/.gitignore_global
	autocrlf = input
	eol = lf

